body {
	margin: 0;
}

.container {
	padding: 10px;
}

#road {
	position: relative;
	width: 100%;
	height: 200px;
	border-bottom: solid 2px #000;
}

#car {
	width: 15%;
	position: absolute;
	left: 0;
	bottom: 0;
}